<div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{data.name}}</h5>
      <p class="card-text">{{data.content}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Status :{{data.status}} </li>
      <li class="list-group-item">status changes date:{{data.lastStatusChange}}</li>
      <li class="list-group-item">User assigned :{{data.user.userName}} </li>
    </ul>
    <div class="card-body">
      <a [routerLink]="['ticket']" [queryParams]="{id: data.id}" class="card-link">Edit</a>
      <a [routerLink]="['auditlog']" [queryParams]="{id: data.id}" class="card-link">Audit Log</a>
    </div>
  </div>
